.footer {
  margin-top: 25px;
  button {
    font-size: 30px;
    text-transform: uppercase;
  }
  .icons {
    margin-top: 10px;
    mat-icon {
      color: #bbbbbb;
      margin: 0 5px;
      cursor: pointer;
      &:hover {
        color: #737373;
      }
    }
  }
}
