/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'League Gothic', sans-serif;
  font-family: 'Roboto', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.end-game-popup {
  mat-dialog-container {
    background: #fff no-repeat url("/assets/fireworks.gif") !important;
  }
}
