<h1 mat-dialog-title>Game rules</h1>
<div mat-dialog-content>
  <b>Before play game, read how to play.</b><br/>
  You'll play with computer. When you click "Start" the game starts. The blue squares it's a play field, when square become yellow you have time to click in this square. If you miss square or time up, "computer" will win point instead you reach point.
  The winner should reach first 10 points.
  <br><br>
  Good luck!
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>close</button>
</div>
