<div class="header">
  <h1>Game</h1>
  <div class="score-field">
    <div class="score-title"><b>Score</b></div>
    <div class="score-wrap">
      <div class="score-item"><span>Computer:</span><span>{{gameEngine.scoreComputer}} {{gameEngine.scoreComputer === 1 ? 'point' : 'points'}}</span></div>
      <div class="score-item"><span>User:</span><span>{{gameEngine.scoreUser}} {{gameEngine.scoreUser === 1 ? 'point' : 'points'}}</span></div>
    </div>
  </div>
</div>
<div class="speed-info">game speed: {{gameEngine.gameSpeed}}ms</div>

